.filter_container {
    position: absolute;
    right: 160px;
    background-color: var(--light-grey);
    box-shadow: var(--light-shadow);
    height: inherit;
    width: 300px;
    border-radius: var(--radius);
    border: 1px solid var(--clr-grey-9);
    padding: 5px;
}

.filterByFixedKeywords_div button {
    margin: 5px;
}

.customFilter_div {
    margin-top: 20px;
}

.filterKeysShow_div {
    margin-top: 5px;
    min-height: 40px;
}

.applyFilterBtn_div {
    text-align: right;
}

.filteredTagsList_div {
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-grey-7);
    position: absolute;
    width: 97%;
    max-height: 25vh;
    overflow-y: scroll;
}


.eachFilteredTag {
    width: 100%;
    font-size: 1rem;
    font-family: var(--open-sans);
    margin-top: 2px;
    padding: 5px;
    border-bottom: 1px solid var(--clr-grey-9);
    color: black;
}

.eachFilteredTag:hover {
    cursor: pointer;
    background-color: var(--clr-grey-9);
}

@media only screen and (max-width:1024px) {
    .filter_container {
        right: 100px;
    }
}

@media only screen and (max-width:768px) {
    .filter_container {
        right: 12px;
    }
}