.tag {
    padding: 3px;
    color: var(--light-blue);
    border: 1px solid var(--light-grey);
    border-radius: var(--radius);
    margin: 1px 2px;
    font-size: .75rem;
}

.tag:hover {
    outline: 1px solid var(--light-grey);
}